books/
books/*
resources/*
resources/
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc
*.fls
*.fdb_latexmk
.Rproj.user
GrasMfld/g24.pdf
GrasMfld/GrassmanManifold_corr.pdf
Midterm/MidtermP5-comm.pdf
presentation/Pres_Grassman_Mfld_Milos.pdf


